body { background-color:blue;
    margin:0;
    text-align: center;
    width: 100%;
    
}
a{
    text-decoration: none;
    color:blanchedalmond ;
}
img{
    width:20vh;
    height:20vh;
    }
    
span{
        border-radius: 4px;
        background-color:cornflowerblue;
    }
    

div{
    display: flex;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*font-size:;*/
    /*border-top: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-left: 4px solid white;*/
}

h2{
    font-size: 15px;
    font-family:"Rajdhani";
}   

/*######################################################################################################################################*/

.chico { 
    background-color:darkblue;
    width: 100%; /* El div ocupará el 100% del ancho de su contenedor */
    height: 20vh; /* El div tendrá un alto equivalente al 50% del alto de la ventana de visualización */
/*flex-direction: row; /* Asegura que los elementos de la lista estén en línea 
  justify-content: space-between; */
}

.grandes{
    align-items:center;

    display: flex;
    color: white;
    font-family:  Arial, sans-serif;
    width: 100%; /* El div ocupará el 100% del ancho de su contenedor */
    height: 100vh; /* El div tendrá un alto equivalente al 50% del alto de la ventana de visualización */
    /*border-top: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-left: 4px solid white;*/
}


/*##########################################################################################################################################*/

ul{
    list-style: none; /* Elimina los estilos predeterminados de la lista */
  /*padding: ; /* Elimina el padding predeterminado */
  margin: 0; /* Elimina el margen predeterminado */
  width: auto; /* Ocupa todo el ancho del contenedor */
  /*align-items: center;*/
  border-top: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-left: 4px solid white;
}

  

li:hover{
    background-color: white;
}
li{
    text-align: center;
    display: inline-block;
    /*margin-left: 2.2cm;
    margin-right: 2.2cm;
    padding-inline: 10px;*/
    font-family:'staatliches'; 
    height: 5vh; /* El div tendrá un alto equivalente al 50% del alto de la ventana de visualización */}


/*##########################################################################################################################################
inicio
##########################################################################################################################################*/

.alias{   
    position:absolute;
    margin-top: 4cm;
    margin-bottom: 5cm;
    margin-left: 38%;
    font-family:"Rajdhani";
    font-size:140px;
    
}

.tituloh1{
    background-color:darkblue;
    width: 100%; /* El div ocupará el 100% del ancho de su contenedor */
    height: 20vh;
    color: black;
    position:relative;
    /*left: 20%;*/
    /*right: 80%;*/
    top: 50%;
    bottom: 10%;
    margin-top: 60px;
    margin-bottom: 250px;
    border-top: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    /*padding-left:15cm;
    margin-right: 5px;*/
   
}

/*##########################################################################################################################################
sobre mi
##########################################################################################################################################*/


.fotoperfil{
    position: absolute;
    width:200px;
    height:200px;
    border-radius:150px ;
    margin-left: 150px;
}

.tituloh2{
   
    
    position:absolute;
    height:50px;
    margin-left: 14cm;

}


.presentacion{
    font-family:'staatliches';

    position: absolute;
    width: 100vh;
    height: 120px;
    margin-top: 300px;
    text-align: center;
    margin-left: 9.5cm ;
   
}


/*##########################################################################################################################################
herramientas
##########################################################################################################################################*/
/*.herramientas{
    flex-direction: row;  Asegura que los elementos de la lista estén en línea 
    justify-content: space-between; 
    background-color: darkblue;
    color: blanchedalmond;
    width: 100%; /* El div ocupará el 100% del ancho de su contenedor  
    height: 20vh;  El div tendrá un alto equivalente al 50% del alto de la ventana de visualización */


.tituloHerramientas{
    
    font-family:'staatliches';
    font-size: 20px;
    position:absolute;
    height: 1cm;
    width: auto;
    margin-left: 50px;
    
    
    border-top: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-left: 4px solid white;

}
.listaHerramientas{
    text-align: center;
    position:relative;
    height:20vh;
    margin-top: 0cm;
    margin-right: 300px;
    margin-left: 300px;
    width: 100%;
    border-top: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-left: 4px solid white;
}

/*##########################################################################################################################################
contacto
##########################################################################################################################################*/

.titulocontacto{
    font-family:'staatliches';
    font-size: 20px;
    position:absolute;
    height: 1cm;
    width: auto;
    margin-left: 50px;
    
    
    border-top: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-left: 4px solid white;

    /*font-family:'staatliches';
    font-size: 20px;
    position:absolute;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 38%;
    height: 1cm;
    width: auto;
    
    border-top: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-left: 4px solid white;*/

}

.listacontacto{
    text-align: center;
    position:relative;
    height:20vh;
    margin-top: 0cm;
    margin-right: 300px;
    margin-left: 300px;
    width: auto;
    border-top: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-left: 4px solid white;

}